ApiECommerce/bin
ApiECommerce/obj/Debug
SimuladorCompras/bin
SimuladorCompras/obj/Debug
.vs
ApiECommerce/obj
SimuladorCompras/obj
ECommerceWebAppFrontend/bin
ECommerceWebAppFrontend/obj
ApiECommerce.Shared/bin
