@page "/login"
@inject NavigationManager NavigationManager
@inject LoginService LoginService
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h1>Bienvenido a la página principal</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await LoginService.IsAuthenticated();
        if (!isAuthenticated)
        {
            NavigationManager.NavigateTo("/home");
        }
    }
}<!--hola-->